:root {
    --main-color: #FFFFFF;
    --secondary-color: #F2F2F2;
    --alt-color: #0065FC;
    --alt-secondary-color: #DEEBFF;
    --text-color: #000000;
}  

body {
    max-width: 1440px;
    margin: auto;
    background-color: var(--secondary-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color);
}

#container {
    padding: 0px 50px 0px 50px;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--main-color);
}

.rounded {
    border-radius: 20px;
}

.name-section {
    margin: 0;}

main {
    display: flex;
    flex-wrap: wrap;
}

#search {
    width: 100%;
}

#leisure {
    order: 3;
}

#popular {
    order: 1;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

h1, h2 {
    font-size: 22px;
}

header {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding-top: 2px;
    padding-left: 5px;
}

header > figure {
    width: 61.09px;
    padding-top: 42px;
}

nav {
    height: auto;
    justify-content: space-between;
}

#nav-ul {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    width: 381px;
    padding-left: 0px;
}

.nav {
    width: 50%;
    display: inline-block;
    text-align: end;
    font-weight: 500;
    padding: 46px 27px 0px 27px;
}

.nav:hover {
    margin-top: -3px;
    border-top: 3px solid var(--alt-color);
}

figure {
    margin: 0;
}

#search {
    display: inline-block;
    background-color: var(--main-color);
}

form {
    margin: 0;
}

#input {
    display: inline-flex;
}

i {
    color: var(--alt-color);
}

button[type="submit"] {
    font-size: 18px;
    color: var(--main-color);
    background-color: var(--alt-color);
    border: none;
    padding: 14px 16px 14px 16px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--alt-color);
}

#input > input {
    margin: 0px 0px 0px 0px;
    padding: 14px 0px 14px 17px;
    font-weight: 700;
    width: 236px;
    font-size: 18px;
    border: 2px solid var(--secondary-color);
}

#black-i {
    padding: 16px 18px 15px 18px;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 15px 0px 0px 15px;
    margin: 0;
    color: var(--text-color);
}

#filters em {
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    padding-top: 14px;
    margin-right: 37px;
}

#filters {
    padding-top: 32px;
}

#filters p{
    margin: 0;
    padding-left: 12px;
}

#filters > p > i {
    display: inline;
}


.button-filter {
    background-color: var(--main-color);
    font-weight: 700;
    font-size: 17px;
    padding: 14px 15px 16px 20px;
    border: 2px solid #D9D9D9;;
    border-radius: 30px;
    margin-right: 46px;
}

.button-filter:hover {
    background-color: var(--alt-secondary-color);
}

.name-filter {
    padding-left: 10px;
}

#shift {
    padding-left: 14.56px;
}

#info {
    padding: 38px 0px 39px 9px;
}

#info > p {
    display: inline;
    padding-left: 11px;
}

#info > i {
    color: var(--alt-color);
    padding: 7px 10px 7px 10px;
    border: 1px solid #D9D9D9;
}

#lodgings, #popular {
    background-color: var(--secondary-color);
}

#lodgings {
    width: 880px;
    height: 626px;
    order: 1;
    margin-right: 40px;
}

#lodgings > h2 {
    padding: 42px 0px 23px 40px;
    margin: 0;
}

#more {
    margin: 0;
    padding: 10px 0px 46px 44px;
    font-size: 18px;
    font-weight: 700;
}

#lodgings > ol {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px 40px 0px 40px;
    justify-content: space-between;
}

ol > li {
    padding-bottom: 30px;
}

#lodgings .cards {
    width: 246px;
    /*height: 199px;*/
    display: flex;
    margin: 0;
}

.shadow {
    box-shadow: rgb(220, 220, 220) 0px 2px 3px 1px, rgb(255, 255, 255) 0px 2px 3px 1px;
}

.shadow:hover {
    box-shadow: rgb(218, 218, 218) 0px 2px 3px 1px, rgb(190, 190, 190) 0px 2px 3px 1px;
    transition: 0.5s;
}

.cards {
    background-color: var(--main-color);
}

.title-cards, .price-cards, #lodgings .rank {
    display: flex;
    margin: 0;
    width: 204px;
}

.title-cards {
    padding: 4px 26px 9px 16px;
    font-size: 16px;
    font-weight: 700;
}

#lodgings .price-cards {
    padding-left: 16px;
}

#lodgings .rank {
    padding: 9px 26px 11px 16px;
}

.cards i {
    font-size: 12px;
    margin: 0;
}

.cards p, .cards a {
    display: inline-block;
    margin: 0;
  }

.img-cards {
    width: 236px;
    height: 114px;
    border: 5px solid var(--main-color);
    border-radius: 20px 20px 0px 0px;
}

.price-cards {
    font-size: 14px;
}

img {
    max-width: 100%;
}

.rank {
    font-size: 12px;
}

.rank > i:last-of-type {
    color: var(--secondary-color);
}

#popular {
    width: 420px;
    height: 625px;
    display: inline-block;
    background-color: var(--secondary-color);
}

#popular figure {
    width: 343px;
    height: 144px;
    background-color: var(--main-color);
    margin-left: 37px;
}

#popular img {
    width: 137px;
    height: 134px;
    border: 5px solid var(--main-color);
    border-radius: 20px 0px 0px 20px;
}

#popular > h2 {
    padding: 41px 118px 26px 37px;
    display: inline-flex;
}

#popular > i {
    display: inline-flex;
}

#popular {
    display: inline-block;
}

#popular h3 {
    margin: 0;
    padding: 0px;
    width: 169px;
    font-size: 16px;
    font-weight: 700;
}

#popular figure {
    display: inline-flex;
    margin-bottom: 33px;
}

#popular > figure > figcaption {
    padding: 16px 0px 0px 15px;
    margin: 0;
}

#popular > figure > figcaption > p {
    padding: 7px 22px 32px 0px;
    display: flex;
    margin: 0;
}

#popular > figure > figcaption > i {
    margin: 0;
    display: inline-block;
}

#popular > figure:last-of-type > figcaption > .price-cards {
    padding-bottom: 51px;
}

#leisure {
    width: 1337px;
    height: 493px;
    background-color: var(--main-color);
    margin-bottom: 60.51px;
}

#leisure > ul > li > figure > figcaption {
    padding: 20px 0px 21px 19px;
    font-size: 16px;
    font-weight: 700;
}

#leisure > h2 {
    padding: 60px 0px 18.47px;
    margin: 0;
}

#leisure > ul {
    padding: 0;
    margin: 0;
    width: 1337px;
    display: flex;
    justify-content: space-between;
}

#leisure img {
    width: 302px;
    height: 389px;
    border-radius: 20px 20px 0px 0px;
}

#leisure li {
    width: 302px;
    margin-bottom: 61px;
}

#leisure li:hover {
    box-shadow: rgb(218, 218, 218) 0px 2px 3px 1px, rgb(190, 190, 190) 0px 2px 3px 1px;
    transition: 0.6s;
}

footer {
    display: flex;
    height: auto;
    background-color: var(--secondary-color);
    margin-top: 60.51px;
    font-weight: 400;
    padding-bottom: 58px;
}

footer > div > p {
    padding-top: 45px;
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}

footer > div {
    display: inline;
    padding-right: 230px;
}

footer > div:first-of-type {
    padding-left: 70px;
}

footer > div > ul:first-of-type {
    padding-top: 20px;
}

footer > div {
    padding-left: 9px;
}

footer > div > ul {
    margin: 0px;
    padding: 0px;
    padding-top: 12px;
}

footer> div > ul > li:not(:first-of-type) {
    padding-top: 12px;
}

/*

Pour la version Desktop, toute l'attention a été portée afin de respecter les dimensions exactes

*/