/* Les styles globaux de la maquette */

:root { /* Les couleurs présente sont réutilisées via des variables */
    --main-color: #FFFFFF;
    --secondary-color: #F2F2F2;
    --alt-color: #0065FC;
    --alt-secondary-color: #DEEBFF;
    --text-color: #000000;
}  

body {
    width: 1440px;
    margin: auto;
    background-color: var(--secondary-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color);
}

#container {
    padding: 0px 50px 0px 50px;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--main-color);
}


/* Des classes communes à certains éléments de la page */

.rounded {
    border-radius: 20px;
}

.shadow {
    box-shadow: rgb(220, 220, 220) 0px 2px 3px 1px, rgb(255, 255, 255) 0px 2px 3px 1px;
}

.shadow:hover {
    box-shadow: rgb(218, 218, 218) 0px 2px 3px 1px, rgb(190, 190, 190) 0px 2px 3px 1px;
    transition: 0.5s;
}

.cards {
    background-color: var(--main-color);
}

.title-cards {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    display: flex;
}

.price-cards {
    font-size: 14px;
    margin: 0;
}

.name-section {
    display: inline-flex;
    margin: 0;
}

.rank {
    display: inline-flex;
    margin: 0;
    font-size: 12px;
}

.rank i:last-of-type {
    color: var(--secondary-color);
}


/* On retire les styles par défaut de certains éléments */

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

i {
    color: var(--alt-color);
}

figure, form {
    margin: 0;
}


/* HEADER */

h1, h2 {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2px 0px 43px 5px;
}

#logo {
    max-width: 61.09px;
    padding-top: 42px;
}

nav {
    height: auto;
    justify-content: space-between;
}

#nav-ul {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    width: 381px;
    padding-left: 0px;
}

.nav {
    width: 50%;
    margin: 0;
    display: inline-block;
    text-align: end;
    font-weight: 500;
    padding: 46px 27px 0px 27px;
}

.nav:hover {
    margin-top: -3px;
    border-top: 3px solid var(--alt-color);
}


/* SECTION #SEARCH */

#search {
    display: inline-block;
    width: 100%;
    background-color: var(--main-color);
    padding-left: 5px;
}

#p-title {
    margin: 0;
    padding: 8px 0px 20px 0px;
}

#input {
    display: inline-flex;
}

#desktop {
    font-size: 18px;
    font-weight: 700;
    color: var(--main-color);
    background-color: var(--alt-color);
    border: none;
    padding: 14px 16px 14px 16px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--alt-color);
}

#mobile {
    display: none;
}

#input input {
    margin: 0;
    padding: 14px 0px 14px 17px;
    font-weight: 700;
    width: 236px;
    font-size: 18px;
    border: 2px solid var(--secondary-color);
}

#ping {
    padding: 16px 18px 15px 18px;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 15px 0px 0px 15px;
    margin: 0;
    color: var(--text-color);
}

#filters em {
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 0px 0px 7px;
    margin-right: 37px;
}

#filters {
    padding-top: 32px;
}

#filters p {
    margin: 0;
    padding-left: 12px;
}

.button-filter {
    background-color: var(--main-color);
    font-weight: 700;
    font-size: 17px;
    padding: 14px 15px 16px 20px;
    border: 2px solid #D9D9D9;
    border-radius: 30px;
    margin-right: 46px;
}

.button-filter:hover {
    background-color: var(--alt-secondary-color);
}

.name-filter {
    padding-left: 10px;
}

#shift {
    padding-left: 14.56px;
}

#info {
    padding: 38px 0px 39px 9px;
}

#info p {
    display: inline;
    padding-left: 11px;
}

#info i {
    font-size: 10px;
    padding: 7px 10px 7px 10px;
    border: 1px solid #D9D9D9;
}


/* SECTION #LODGINGS */

#lodgings, #popular {
    background-color: var(--secondary-color);
    display: inline-block;
}

#lodgings {
    max-width: 880px;
    max-height: 626px;
    margin-right: 40px;
    box-sizing: border-box;
    padding: 42px 40px 46px 40px;
}

#lodgings .name-section {
    padding-bottom: 23px;
}

#more {
    margin: 0;
    padding-top: 40px;
    font-size: 18px;
    font-weight: 700;
}

#lodgings ol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 31px;
    row-gap: 30px;
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

#lodgings .cards {
    height: fit-content;
}

#lodgings .title-cards {
    padding: 4px 0px 6px 16px;
}

#lodgings .price-cards {
    padding-left: 16px;
}

#lodgings .rank {
    padding: 9px 26px 11px 16px;
}

#lodgings .img-cards {
    box-sizing: border-box;
    max-width: 246px;
    max-height: 124px;
    aspect-ratio: 123 / 62;
    border: 5px solid var(--main-color);
    border-radius: 20px 20px 0px 0px;
    margin-bottom: -5px;
}


/* SECTION #POPULAR */

#popular {
    max-width: 420px;
    max-height: 625px;
    box-sizing: border-box;
    padding: 41px 40px 34px 37px;
}

#sub {
    width: 100%;
    padding-bottom: 26px;
    display: flex;
    justify-content: space-between;
}

#popular-cards {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 33px;
}

#popular figure {
    width: 100%;
    max-height: 144px;
    background-color: var(--main-color);
    display: inline-flex;
}

#popular-cards .title-cards {
    padding: 0px;
    max-width: 169px;
}

#popular-cards figcaption {
    position: relative;
    max-width: 169px;
    padding: 16px 22px 12px 15px;
}

#popular-cards .price-cards {
    padding-top: 7px;
}

#popular .img-cards {
    width: 39.95%;
    aspect-ratio: 137 / 144;
    border: 5px solid var(--main-color);
    border-radius: 20px 0px 0px 20px;
}

#popular .rank {
    position: absolute;
    left: 15px;
    top: 120px;
}


/* SECTION #LEISURE */

#leisure {
    max-width: 1337px;
    max-height: 493px;
    background-color: var(--main-color);
    margin-bottom: 60.51px;
}

#leisure .title-cards {
    padding: 20px 36px 21px 19px;
}

#leisure .name-section {
    padding: 60px 0px 18.47px;
}

#leisure ul {
    padding: 0;
    margin: 0;
    max-width: 1337px;
    max-height: 445px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 43px;
}

#leisure img {
    width: 302px;
    height: 389px;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 0;
    margin-bottom: -5px;
}

#leisure li {
    margin: 0;
    width: 302px;
}


/* FOOTER */

footer {
    box-sizing: border-box;
    width: 100%;
    padding: 45px 0px 58px 70px;
    background-color: var(--secondary-color);
    font-weight: 400;
}

#categories {    
    display: grid;
    grid-template-columns: 193fr 166fr 114fr;
    column-gap: 230px;
    width: fit-content;
}

.name-category {
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}

footer ul {
    margin: 0;
    padding: 0;
}

.category li {
    padding-top: 12px;
}


/* L'organisation de l'affichage du contenu pour le Desktop */

main {
    padding-bottom: 61px;
    display: flex;
    flex-wrap: wrap;
}

#lodgings {
    order: 1;
}

#leisure {
    order: 3;
}

#popular {
    order: 1;
}


/* RESPONSIVE */

@media screen and (max-width: 1024px) {

    body {
        max-width: 1024px;
    }
    
    #container {
        padding: 0px 72px 0px 72px;
        width: 100%;
        box-sizing: border-box;
    }

    main {
        padding-bottom: 69px;
    }


    /*RESPONSIVE HEADER TABLETTE */

    header {
        width: auto;
        padding: 0px 0px 43px 0px;
    }

    #logo  {
        padding-top: 44px;
    }

    #nav-ul {
        max-width: 243px;
    }

    .nav {
        width: 50%;
        padding: 48px 0px 0px 0px;
    }


    /* RESPONSIVE #SEARCH TABLETTE*/

    #search, #filters em, #filters p {
        padding: 0;
    }

    #filters {
        padding-right: 34px;
    }

    #p-title {
        padding-top: 13px;
    }

    #input input {
        width: 253px;
        padding-left: 16px;
    }

    #filters em {
        margin: 0;
    }

    #filters p {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .button-filter {
        margin-right: 0;
    }

    #info {
        padding-left: 0px;
    }

    #info p {
        display: inline;
        padding-left: 11px;
    }


    /* RESPONSIVE #LODGINGS TABLETTE */

    #lodgings {
        margin: 0;
    }

    #more {
        margin: 0;
        padding: 40px 0px 46px 0px;
    }

    #lodgings .cards {
        width: 246px;
        display: flex;
        margin: 0;
    }

    #lodgings figcaption {
        width: 204px;
    }

    #lodgings .title-cards {
        padding: 0px 26px 9px 16px;
    }

    #lodgings .img-cards {
        margin-bottom: 0;
    }


    /* RESPONSIVE #POPULAR TABLETTE */

    #popular {
        max-width: 880px;
        max-height: 278px;
        padding: 34px 40px 48px 40px;
        margin: 53px 0px 70px 0px;
    }

    #sub {
        max-width: 880px;
        padding: 0px 2px 26px 0px;
    }

    #popular-cards {
        max-height: 144px;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 23px;
    }

    #popular-cards .price-cards {
        font-size: 13px;
    }

    #popular-cards .title-cards {
        padding-right: 21px;
    }

    #popular figure {
        max-width: 252px;
    }

    #popular-cards .img-cards {
        max-width: 96px;
        aspect-ratio: 106 / 144;
        border-radius: 20px 0px 0px 20px;
    }

    #popular-cards figcaption {
        padding: 12px 4px 12px 10px;
    }

    #popular .rank {
        left: 10px;
        top: 120px;
    }


    /* RESPONSIVE #LEISURE TABLETTE */

    #leisure {
        margin: 0;
    }

    #leisure ul {
        margin: 0;
        padding: 0px 1px 0px 1px;
        max-width: 878px;
        max-height: 267px;
        column-gap: 50px;
    }

    #leisure .title-cards {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        max-width: 182px;
        height: 56px;
    }

    #leisure .name-section {
        padding: 0px 0px 34px 9px;
    }

    #leisure img {
        max-width: 182px;
        max-height: 211px;
        aspect-ratio: 182 / 211;
    }

    #leisure li {
        max-width: 182px;
        max-height: 267px;
    }


    /* RESPONSIVE FOOTER TABLETTE */

    #categories {
        column-gap: 82px;
    }

    .category:first-of-type {
        padding: 0;
    }

    .category:last-of-type {
        padding-left: 0px;
    }

}

@media screen and (max-width: 767px) {

    body {
        width: 100%;
        min-width: 375px;
    }
    
    #container {
        padding: 0;
        min-width: 375px;
        width: 100%;
        box-sizing: border-box;
    }


    /* RESPONSIVE HEADER MOBILE */

    header {
        padding: 0;
        display: block;
    }

    header figure {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #logo  {
        padding: 21px 0px 48px 0px;
    }

    nav {
        min-width: 375px;
        width: 100%;
        justify-content: center;
    }

    #nav-ul {
        width: 100%;
        max-width: 767px;
        margin: 0;
    }

    .nav {
        width: 50%;
        padding: 0;
    }

    .nav a {
        display: flex;
        justify-content: center;
        font-weight: 400;
        padding-bottom: 23px;
        border-bottom: 3px solid var(--secondary-color);
    }

    .nav:first-of-type a {
        color: var(--alt-color);
        border-bottom: 3px solid var(--alt-color);
    }


    /* RESPONSIVE #SEARCH MOBILE */

    main {
        box-sizing: border-box;
        width: 100%;
    }

    #search {
        max-width: 767px;
        padding: 31px 21px 17px 20px;
    }

    #input {
        width: 332px;
    }

    #p-title {
        padding: 13px 0px 36px 0px;
    }

    #desktop {
        display: none;
    }

    #mobile {
        display: inline-flex;
        padding: 16px;
        border-radius: 0px 15px 15px 0px;
        border: 1px solid var(--alt-color);
        background-color: var(--alt-color);
    }

    #mag-glass {
        font-size: 17px;
        width: 17px;
        color: var(--main-color);
    }

    

    /*

    button[type="submit"] {
        font-size: 18px;
        font-weight: 700;
        background-color: var(--alt-color);
        border: none;
        padding: 14px 16px 14px 16px;
        border-radius: 0px 15px 15px 0px;
        border: 1px solid var(--alt-color);
    }

    #input input {
        margin: 0;
        padding: 14px 0px 14px 17px;
        font-weight: 700;
        width: 236px;
        font-size: 18px;
        border: 2px solid var(--secondary-color);
    }

    #ping {
        padding: 16px 18px 15px 18px;
        background-color: var(--secondary-color);
        border: 1px solid var(--secondary-color);
        border-radius: 15px 0px 0px 15px;
        margin: 0;
        color: var(--text-color);
    }

    #filters em {
        font-style: normal;
        font-size: 18px;
        font-weight: 700;
        padding: 14px 0px 0px 7px;
        margin-right: 37px;
    }

    #filters {
        padding-top: 32px;
    }

    #filters p {
        margin: 0;
        padding-left: 12px;
    }

    .button-filter {
        background-color: var(--main-color);
        font-weight: 700;
        font-size: 17px;
        padding: 14px 15px 16px 20px;
        border: 2px solid #D9D9D9;
        border-radius: 30px;
        margin-right: 46px;
    }

    .button-filter:hover {
        background-color: var(--alt-secondary-color);
    }

    .name-filter {
        padding-left: 10px;
    }

    #shift {
        padding-left: 14.56px;
    }

    #info {
        padding: 38px 0px 39px 9px;
    }

    #info p {
        display: inline;
        padding-left: 11px;
    }

    #info i {
        font-size: 10px;
        padding: 7px 10px 7px 10px;
        border: 1px solid #D9D9D9;
    }

    */
}